<header >
	<a href="/curriculum/Curriculum_vt_Andres_Martinez.pdf" download="Curriculum"> Descargar Curriculum</a>
		<h1 class="col-7">Andrés Martínez Perez</h1>
		<img  id="foto" src="~/images/yo.jpg"/>
		<br />

		<div class="col-7" id="bordes">
		<h4>Contacto</h4>
	<br />


		<b>Correo electronico: andresmarper@monlau.com</b>
		<br />
			<br />
		<b>Telefono:644-85-42-51</b>
	
		
	</div>

	<br />
</header>

<body  class="fondoCurr">

	<div class="col-7" id="bordes">
		<h4>Formación académica</h4>
		<br />
		<b>Educación Secundaria Obligatoria. (2014-2018)</b>
			<p>Escuela Ins ramon casas i carbo</p>

		<b>Grado Medio de Sistemas microinformáticos y redes (2018-2020)</b>
			<p>Escuela Monlau.</p>

		<b>Grado Superior de Desarrollo de Aplicaciones Multiplataforma 1ºaño (2020-2021)</b>
			<p>Escuela Monlau 2º año pausado.</p>

		<b>Grado superior de Desarrollo de Aplicaciónes Web (2021-2022)</b>
			<p>Escuela Monlau Cursando</p>
			<br />
	</div>

	<br />

	<div  class="col-7" id="bordes">
		<h4>Experiencia laboral</h4>

		<b>Estuve reparando ordenadores y actualizando programas en un taller de coches (2019-2020)</b>
	</div>
	<br />
	<div  class="col-7" id="bordes">
		<h4>Experiencia laboral</h4>
	
		<b>Estuve reparando ordenadores y actualizando programas en un taller de coches (2019-2020)</b>
	</div>
	<br />
	<div  class="col-7" id="bordes">
		<h4>Habilidades</h4>
		<li>Disponibilidad</li>
		<li>Liderazgo</li>
		<li>Creatividad</li>
		<li>Trabajo en equipo</li>
		
	</div>
	

	

</body>