<header>
<h1 id="titulo">Mis Proyectos</h1>
 <link rel="stylesheet" href="~/css/MyStyleSheet.css" asp-append-version="true" />
</header>





<body class="fondo">
<div class="container">
  <div id="bordes" class="row">
    <div class="col">
      <h2>2ºSMX</h2>
      <p>Creacion de una pagina web de venta de ordenadores  y componentes con Wordpress, hicimos una red desde cero con cisco packet tracer tambien creamos nuestra oficina
          y nuestro alamcen con autocad.
      </p> 
      <p>Programas usados:</p>  
      <img  src="~/images/autocad.png" alt="" width="100px" border="1px"/>
       <img  src="~/images/cisco.jpg" alt="" width="130px" border="1px"/>
       <img  src="~/images/word.png" alt="" width="100px" border="1px"/>
     
    </div>
  </div>
</div> 
<br />

<div class="container">
  <div id="bordes" class="row">
    <div class="col">
      <h2>2ºDAW</h2>
      <p>Creacion de una aplicacion para movil de las ubicaciones exactas de las gasolineras, del precio de la gasolinera en esos momentos y cuanto consumirias en llegar a la gasolinera.</p>
      <p>Programas usados:</p>
      <img  src="~/images/visual.png" alt="" width="100px" border="1px"/>
      <img  src="~/images/html.png" alt="" width="100px" border="1px"/>
      <img  src="~/images/netbeans.jpg" alt="" width="100px" border="1px"/>
    </div>
  </div>
</div> 




</body>

        












